[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-restful = "*"
flask-caching = "*"
redis = "*"
factory-boy = "*"

[requires]
python_version = "3.9.2"

[scripts]
start = "flask run --host=0.0.0.0 --port=8000"
